---
---

@import "{{ site.theme }}";


.btn_body {
  display: inline-block;
  margin-bottom: 1rem;
  color: $body-link-color;
  background-color: rgba(255, 255, 255, 0.08);
  border-color: $body-link-color;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: $body-link-color;;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: $body-link-color;
  }

  + .btn_body {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn_body {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}
